<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <title>Python для новичков</title>
</head>
<body>
    <main>
        <div class="dark-box">
            <div class="main-container">
                <h2 class="main-h2">python для новичков</h2>
                <p class="main-p">здесь собраны советы о том как изучить язык, советы и материалы</p>    
            </div>
        </div>
    </main>
    <section class="info">
        <article class="small-acute-block">
            <h1 class="small-acute-block-h1">Почему именно Python?</h1>
        </article>
        <div class="content-container">
            <article class="acute-block">
                <p class="acute-block-text">
                    Python является интерпретируемым языком программирования, который не компилируется. Таким образом, до запуска он представляет собой обычный текстовый файл. Соответственно, программировать можно почти на всех платформах, а сам язык логичен и хорошо спроектирован.
                    Кода в нём меньше, чем при использовании других языков программирования, поэтому разработка осуществляется быстрее. Вот, например, как выглядит код вывода текста "Hello, World!" на языке программирования Java:
                </p>
                <article class="smooth-box">
                    <p class="code-text">class&nbsp;Main&nbsp;{<br>
                        &nbsp;&nbsp;public&nbsp;static&nbsp;void&nbsp;main(String[]&nbsp;args)&nbsp;{
                        &nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello,&nbsp;World!");<br>
                        &nbsp;&nbsp;}<br>
                        }<br>
                    </pre>
                </article>
                <p class="acute-block-text">
                    В Python же для выполнения той же самой задачи достаточно всего одной строчки:
                </p>
                <article class="smooth-box">
                    <p class="code-text">print("Hello&nbsp;World!")</p>
                </article>
            </article>
            <article class="acute-block">
                <p class="acute-block-text">
                    Сегодня Python довольно часто применяют в веб-разработке. Для работы используют такие фреймворки, как:
                </p>
                <article class="smooth-box">
                    <ul class="array">
                        <li>DJango</li>
                        <li>Pyramid</li>
                        <li>TurboGears</li>
                        <li>Flask</li>
                        <li>Tornado</li>
                    </ul>
                </article>
                <p class="acute-block-text">
                    Так же Python широко используется в нейронных сетях, существуют две распространённые библиотеки для машинного обучения такие как Tenser Flow и Keras.
                </p>
            </article>
        </div>
    </section>
    <section class="materials">
        <article class="small-acute-block-m">
            <h1 class="small-acute-block-h1">Материалы</h1>
        </article>
        <div class="content-container">
            <article class="acute-block-m">
                <p class="acute-block-text">
                    <a href="https://wombat.org.ua/AByteOfPython/AByteofPythonRussian-2.02.pdf">A byte of Python (Укус питона)</a><br>
                    Swaroop C.H. (Перевод: Владимир Смоляр)<br>
                    Одна из лучших и понятных книг<br> про Python, является бесплатной.
                </p>
            </article>
            <article class="acute-block-m"">
                <p class="acute-block-text">
                    <a href="https://www.codewars.com">Codewars</a>
                    by Qualified<br>
                    Огромный задачник для оттачивания своих навыков програмирования,
                    в своей базе имеет свыше 30 языков программирования в числе которых есть и Python.
                    В задачнике имеются разные уровни задач, найдутся задачи для новичков так и для профи.
                </p>
            </article>
            <article class="acute-block-m">
                <p class="acute-block-text">
                    <a href="https://ru.stackoverflow.com/">Stackoverflow</a><br>
                    Самый распространённый форум программистов о тех или иных ошибках. Так же имеется рускоязычная платформа данного ресурса.
                </p>
            </article>

            <article class="acute-block-m">
                <p class="acute-block-text">
                    <a href="https://stepik.org/">Stepik</a><br>
                    Индивидуальные доступные курсы по разным направлениям в IT, в том числе и по Python. Имеются как платные курсы, так и бесплатные.
                </p>
            </article>
        </div>
    </section>
    <section class="workspace">
        <article class="small-acute-block-w">
            <h1 class="small-acute-block-h1">Среда разработки</h1>
        </article>
        <div class="content-container">
            <article class="acute-block-w">
                <p class="acute-block-text">
                    Первым этапом в подготовке своей среды разработки явяторляется установка самого компила Python, это довольно просто, достаточно перейти на <a href="https://pyhton.org">сайт</a> и скачать его (рекомендуется использовать LTS версии) и в процессе установки не забыть активировать опцию добавления Python в Path.
                </p>
            </article>
            <article class="acute-block-w">
                <p class="acute-block-text">
                    Следующим этапом будет установка редактора кода, их большое количество и каждый со своими особенностями, среди всех редакторов для данной среды разработки можно выделить два: <a href="https://www.sublimetext.com/">Sublime Text</a> и <a href="https://code.visualstudio.com/">Visual Studio Code</a>.
                    Первый редактор прост как в освоении, так и в интерфейсе, не требователен к характеристикам системы.
                    Второй же редактор имеет в себе все нужные инструменты для разработки и даже больше, имеет возможность скачивать пользовательские инструменты.
                </p>
            </article>
            <article class="acute-block-w">
                <p class="acute-block-text">
                    Завершающим этапом является установка дополнительного ПО (этот этап является не обязательным, так как данные программы не прегодятся на уровне изучения языка), а именно ПО для работы с базами данных <a href="https://www.heidisql.com/">HeidiSQL</a> и для работы в SSH и FTP <a href="https://filezilla.ru/">FileZilla</a>.
                </p>
            </article>
        </div>
    </section>
</body>
</html>